/* Estilos para o formulário */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

/* Estilos para perguntas e legendas */
p, legend {
    font-weight: bold;
}

/* Estilos CSS para o título */
h1 {
    color: rgb(41, 41, 83);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 200px;
}

/* Estilos para rótulos */
label {
    display: block;
    margin-top: 5px;
}

/* Estilos CSS para as imagens */
.imagem-canto-superior-esquerdo, .imagem-canto-superior-direito {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    transform: scale(1.15);
}

.imagem-canto-superior-esquerdo {
    top: 0;
    left: 0;
    transform-origin: top left;
}

.imagem-canto-superior-direito {
    top: 0;
    right: 0;
    transform-origin: top right;
}

/* Estilos para o botão com borda */
.botao-com-borda {
    font-weight: bold;
    border: 2px solid green;
    padding: 5px 10px;
    border-radius: 5px;
}
